<h2>Autor of this project:</h2>
<p>
  <% if !@autor.id %>
    <p>
      Autor was not declared yet.
    </p>
  <% else %>
    <%= @autor.login %>
  <% end %>
</p>
<%= form_for @autor, url: '/autors' do |f| %>
  <%= f.select(  "id", @users.collect { |u| [u.login, u.id] }, { include_blank: true } ) %>
  <%= hidden_field_tag :project_id, @project.id %>
  <%= f.submit "Update autor" %>
<% end %>
